{% extends 'admin/master.html' %}

{% block body %}
    {% if current_user.is_authenticated %}
        <p>Hello {{ current_user.username }}!</p>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <p>Redirecting to login...</p>
        {% if request.endpoint != 'login' %}
            {% set redirect_url = url_for('index') %}
            <script>
                window.location.href = "{{ redirect_url }}";
            </script>
        {% endif %}
    {% endif %}
{% endblock %}
